# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672/

# TinLikeSub API (main API server)
API_BASE_URL=https://api.tinlikesub.pro
API_KEY=
API_SECRET_KEY=

# Worker
WORKER_PREFETCH_COUNT=1
OUTPUT_DIR=output
