apiVersion: v1
kind: Secret
metadata:
  name: scapper-secrets
  namespace: smap
  labels:
    app: scapper-api
type: Opaque
stringData:
  # TinLikeSub API credentials
  API_KEY: "CHANGE_ME"
  API_SECRET_KEY: "CHANGE_ME"
